# Web scraping case study_wuzzuf_Job

In [169]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns

In [170]:
# import libraries/ 
from bs4 import BeautifulSoup as bs
import requests

In [171]:
from urllib.request import urlopen

In [172]:
# inputting The URl
url='https://wuzzuf.net/search/jobs/?a=hpb%7Cspbg&q=data%20analysis'

In [173]:
# ctreat a client basedb request to get url
client=urlopen(url)

In [174]:
# Getting  the HtmL code of the  full Pagehtm
html=client.read()

In [175]:
# closing the Request 
client.close()

In [176]:
# Creating an html parser using Beautifulsoup
soup=bs(html,"html.parser")

In [177]:
# Creating a container for nededed data
containers =soup.find_all("div",{"class":"css-1gatmva e1v1l3u10"})
len(containers)

15

In [178]:
s=bs.prettify(containers[0])

In [179]:
# Accessing page Elements 
jtitle=containers[0].div.h2.text

In [180]:
jtitle=containers[0].findAll("a",{"class":"css-o171kl"})
jtitle[0].text

'Data Analysis/Analytics Instructor (Excel - Power BI)'

In [181]:
cname=containers[0].findAll("a",{"class":"css-17s97q8"})
cname[0].text

'EpsilonAI -'

In [182]:
jtype=containers[0].findAll("a",{"class":"css-n2jc4m" })
jtype[0].text

'Full Time'

In [183]:
# Bringing it All Together
f=open("Downloads/wuzzuf-data_j.csv","w")
header="job_title,company_name,job_type\n"
f.write(header)

32

In [184]:
for container in containers:
    
    jtitle=container.findAll("a",{"class":"css-o171kl"})
    Job_title=jtitle[0].text.strip()
    
    cname=container.findAll("a",{"class":"css-17s97q8"})
    Company_name=cname[0].text.strip()
    
    jtype=container.findAll("a",{"class":"css-n2jc4m" })
    job_type=jtype[0].text.strip()
    
    
   


    
    f.write(Job_title + "," + Company_name + "," + job_type+"\n")
f.close()

In [185]:
# inputting the File into Pandas 
Wuzzuf=pd.read_csv("Downloads/wuzzuf-data_j.csv")

In [186]:
Wuzzuf.columns

Index(['job_title', 'company_name', 'job_type'], dtype='object')

In [187]:
Wuzzuf

,job_title,company_name,job_type
0,Data Analysis/Analytics Instructor (Excel - Po...,EpsilonAI -,Full Time
1,Data Analyst,Hands of Hope Physical Therapy & Wellness -,Full Time
2,ERPNext Specialist/Data Analyst,Confidential -,Full Time
3,Reporting and Analysis Specialist,Wadi Degla Clubs Company -,Full Time
4,Data Analyst,Nugttah -,Full Time
5,Commercial Data Management Specialist,Hikma Pharmaceuticals -,Full Time
6,Data Analyst (On-Site),Union Coop -,Full Time
7,Financial Planning and Analysis Section Head,Confidential -,Full Time
8,Senior Market Research & Data Analyst,Onecard -,Full Time
9,Fleet Data Analyst,Seoudi Supermarket -,Full Time
10,Senior Data Modeler (KSA),Ejada -,Full Time
11,Big Data Business Analyst (KSA),Ejada -,Full Time
12,Data Scientist Manager,Tamweely -,Full Time
13,Data Management Specialist,Arabian Advanced Systems -,Full Time
14,Head of Data team,Edentech -,Full Time

In [188]:
Wuzzuf

,job_title,company_name,job_type
0,Data Analysis/Analytics Instructor (Excel - Po...,EpsilonAI -,Full Time
1,Data Analyst,Hands of Hope Physical Therapy & Wellness -,Full Time
2,ERPNext Specialist/Data Analyst,Confidential -,Full Time
3,Reporting and Analysis Specialist,Wadi Degla Clubs Company -,Full Time
4,Data Analyst,Nugttah -,Full Time
5,Commercial Data Management Specialist,Hikma Pharmaceuticals -,Full Time
6,Data Analyst (On-Site),Union Coop -,Full Time
7,Financial Planning and Analysis Section Head,Confidential -,Full Time
8,Senior Market Research & Data Analyst,Onecard -,Full Time
9,Fleet Data Analyst,Seoudi Supermarket -,Full Time
10,Senior Data Modeler (KSA),Ejada -,Full Time
11,Big Data Business Analyst (KSA),Ejada -,Full Time
12,Data Scientist Manager,Tamweely -,Full Time
13,Data Management Specialist,Arabian Advanced Systems -,Full Time
14,Head of Data team,Edentech -,Full Time